<div class="parts-search">

  <h2>Search Parts</h2>


  <div class="search-form">

    <mat-form-field appearance="outline">

      <mat-label>
        Vehicle
      </mat-label>

      <mat-select
        [(ngModel)]="selectedVehicle"
      >

        @for (
          vehicle of vehicles;
          track vehicle.id
        ) {

          <mat-option
            [value]="vehicle.id"
          >
            {{ vehicle.year }}
            {{ vehicle.make }}
            {{ vehicle.model }}
          </mat-option>

        }

      </mat-select>

    </mat-form-field>


    <mat-form-field appearance="outline">

      <mat-label>
        Part Search
      </mat-label>

      <input
        matInput
        [(ngModel)]="searchQuery"
        placeholder="Brake pads"
        (keyup.enter)="search()"
      />

    </mat-form-field>


    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="search()"
      [disabled]="loading"
    >
      {{ loading ? 'Searching...' : 'Search' }}
    </button>

  </div>


  @if (error) {

    <div class="error-message">
      {{ error }}
    </div>

  }


  @if (loading) {

    <div class="loading-message">
      Searching for parts...
    </div>

  }


  @if (
    !loading &&
    searched &&
    results.length > 0
  ) {

    <div class="results-header">

      <h3>
        Search Results
      </h3>

      <span>
        {{ getResultCountLabel() }}
      </span>

    </div>


    <div class="results-container">

      <table
        mat-table
        [dataSource]="results"
        class="mat-elevation-z2"
      >

        <ng-container matColumnDef="name">

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Part
          </th>

          <td
            mat-cell
            *matCellDef="let part"
          >
            <div class="part-name">
              {{ part.name }}

              @if (isBestPrice(part)) {

                <span class="best-price">
                  Best Price
                </span>

              }
            </div>

            @if (part.description) {

              <div class="part-description">
                {{ part.description }}
              </div>

            }

          </td>

        </ng-container>


        <ng-container matColumnDef="retailer">

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Retailer
          </th>

          <td
            mat-cell
            *matCellDef="let part"
          >
            {{ part.retailer }}
          </td>

        </ng-container>


        <ng-container matColumnDef="brand">

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Brand
          </th>

          <td
            mat-cell
            *matCellDef="let part"
          >
            {{ part.brand }}
          </td>

        </ng-container>


        <ng-container matColumnDef="part_number">

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Part #
          </th>

          <td
            mat-cell
            *matCellDef="let part"
          >
            {{ part.part_number }}
          </td>

        </ng-container>


        <ng-container matColumnDef="price">

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Price
          </th>

          <td
            mat-cell
            *matCellDef="let part"
          >
            <strong>
              {{ part.price | currency:part.currency }}
            </strong>
          </td>

        </ng-container>


        <ng-container matColumnDef="availability">

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Availability
          </th>

          <td
            mat-cell
            *matCellDef="let part"
          >

            @if (part.in_stock) {

              <span class="in-stock">
                In Stock
              </span>

            } @else {

              <span class="out-of-stock">
                Out of Stock
              </span>

            }

          </td>

        </ng-container>


        <ng-container matColumnDef="actions">

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Action
          </th>

          <td
            mat-cell
            *matCellDef="let part"
          >

            @if (part.product_url) {

              <a
                mat-button
                color="primary"
                [href]="part.product_url"
                target="_blank"
                rel="noopener noreferrer"
              >
                View Part
              </a>

            }

          </td>

        </ng-container>


        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
        ></tr>


        <tr
          mat-row
          *matRowDef="
            let row;
            columns: displayedColumns
          "
        ></tr>

      </table>

    </div>

  }


  @if (
    !loading &&
    searched &&
    !error &&
    results.length === 0
  ) {

    <div class="no-results">

      No parts found for
      "{{ searchQuery.trim() }}".

    </div>

  }

</div>