<div class="parts-search">

  <h2>Search Parts</h2>

  <mat-form-field appearance="outline">
    <mat-label>Vehicle</mat-label>

    <mat-select
      [(ngModel)]="selectedVehicle"
    >

      @for (vehicle of vehicles; track vehicle.id) {

        <mat-option [value]="vehicle.id">

          {{ vehicle.year }}
          {{ vehicle.make }}
          {{ vehicle.model }}

        </mat-option>

      }

    </mat-select>

  </mat-form-field>


  <mat-form-field appearance="outline">

    <mat-label>Part Search</mat-label>

    <input
      matInput
      [(ngModel)]="searchQuery"
      placeholder="Brake pads"
      (keyup.enter)="search()"
    />

  </mat-form-field>


  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="search()"
    [disabled]="loading"
  >

    {{ loading ? 'Searching...' : 'Search' }}

  </button>


  @if (error) {

    <div class="error-message">
      {{ error }}
    </div>

  }

  @if (!loading && results.length > 0) {

    <div class="results-container">

      <table
        mat-table
        [dataSource]="results"
        class="mat-elevation-z2"
      >

        <ng-container matColumnDef="name">

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Part
          </th>

          <td
            mat-cell
            *matCellDef="let part"
          >
            {{ part.name }}
          </td>

        </ng-container>


        <ng-container matColumnDef="retailer">

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Retailer
          </th>

          <td
            mat-cell
            *matCellDef="let part"
          >
            {{ part.retailer }}
          </td>

        </ng-container>


        <ng-container matColumnDef="brand">

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Brand
          </th>

          <td
            mat-cell
            *matCellDef="let part"
          >
            {{ part.brand }}
          </td>

        </ng-container>


        <ng-container matColumnDef="part_number">

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Part #
          </th>

          <td
            mat-cell
            *matCellDef="let part"
          >
            {{ part.part_number }}
          </td>

        </ng-container>


        <ng-container matColumnDef="price">

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Price
          </th>

          <td
            mat-cell
            *matCellDef="let part"
          >
            {{ part.price | currency }}
          </td>

        </ng-container>


        <ng-container matColumnDef="availability">

          <th
            mat-header-cell
            *matHeaderCellDef
          >
            Availability
          </th>

          <td
            mat-cell
            *matCellDef="let part"
          >
            {{ part.in_stock ? 'In Stock' : 'Out of Stock' }}
          </td>

        </ng-container>


        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
        ></tr>


        <tr
          mat-row
          *matRowDef="
            let row;
            columns: displayedColumns
          "
        ></tr>

      </table>

    </div>

  }


  @if (
    !loading &&
    !error &&
    searchQuery &&
    results.length === 0
  ) {

    <div class="no-results">
      No parts found for this search.
    </div>

  }

</div>