<div class="vehicles-header">
  <h2>Vehicles</h2>
  <a
    mat-raised-button
    color="primary"
    routerLink="/vehicles/create"
  >
    Add Vehicle
  </a>
</div>

<mat-card
  *ngIf="success"
  class="success-card"
>

  {{ success }}

</mat-card>

<p>
  Vehicle count:
  {{ dataSource.data.length }}
</p>

<mat-card
  *ngIf="selectedVehicle as vehicle"
>
  <mat-card-header>
    <mat-card-title>
      {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}
    </mat-card-title>
    <mat-card-subtitle>
      Selected vehicle
    </mat-card-subtitle>
    <a
      mat-button
      [routerLink]="['/vehicles', vehicle.id, 'edit']"
    >
      Edit
    </a>
  </mat-card-header>

  <mat-card-content>
    <p>VIN: {{ vehicle.vin || 'Not provided' }}</p>
    <p>Trim: {{ vehicle.trim || 'Not provided' }}</p>
    <p>Engine: {{ vehicle.engine || 'Not provided' }}</p>
    <p>Transmission: {{ vehicle.transmission || 'Not provided' }}</p>
    <p>Mileage: {{ vehicle.mileage ?? 0 }}</p>
    <p>Color: {{ vehicle.color || 'Not provided' }}</p>
    <p>License plate: {{ vehicle.license_plate || 'Not provided' }}</p>
    <p>State: {{ vehicle.state || 'Not provided' }}</p>
  </mat-card-content>
</mat-card>


<!-- Temporary debug
<pre>
{{ dataSource.data | json }}
</pre> -->


<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z2"
>


  <ng-container matColumnDef="year">

    <th
      mat-header-cell
      *matHeaderCellDef
    >
      Year
    </th>

    <td
      mat-cell
      *matCellDef="let vehicle"
    >
      {{ vehicle.year }}
    </td>

  </ng-container>



  <ng-container matColumnDef="make">

    <th
      mat-header-cell
      *matHeaderCellDef
    >
      Make
    </th>

    <td
      mat-cell
      *matCellDef="let vehicle"
    >
      {{ vehicle.make }}
    </td>

  </ng-container>



  <ng-container matColumnDef="model">

    <th
      mat-header-cell
      *matHeaderCellDef
    >
      Model
    </th>

    <td
      mat-cell
      *matCellDef="let vehicle"
    >
      {{ vehicle.model }}
    </td>

  </ng-container>



  <ng-container matColumnDef="vin">

    <th
      mat-header-cell
      *matHeaderCellDef
    >
      VIN
    </th>

    <td
      mat-cell
      *matCellDef="let vehicle"
    >
      {{ vehicle.vin }}
    </td>

  </ng-container>



  <ng-container matColumnDef="license_plate">

    <th
      mat-header-cell
      *matHeaderCellDef
    >
      Plate
    </th>

    <td
      mat-cell
      *matCellDef="let vehicle"
    >
      {{ vehicle.license_plate }}
    </td>

  </ng-container>

  <ng-container matColumnDef="actions">
    <th
      mat-header-cell
      *matHeaderCellDef
    >
      Actions
    </th>

    <td
      mat-cell
      *matCellDef="let vehicle"
    >
      <button
        mat-button
        color="warn"
        type="button"
        (click)="$event.stopPropagation(); deleteVehicle(vehicle)"
      >
        Delete
      </button>
      <a
        mat-button
        [routerLink]="['/vehicles', vehicle.id, 'edit']"
        (click)="$event.stopPropagation()"
      >
        Edit
      </a>
    </td>
  </ng-container>



  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
  >
  </tr>


  <tr
    mat-row
    *matRowDef="
      let row;
      columns: displayedColumns
    "
    [routerLink]="['/vehicles']"
    [queryParams]="{ vehicleId: row.id }"
    class="vehicle-row"
  >
  </tr>


</table>